
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
}
.parent-container{
    height: 700px;
    margin: 0;
    background-color: #1F2937;
    padding: 0;
    border-bottom-left-radius:60px;
    border-bottom-right-radius:60px; 
}
nav{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
}
#logo{
    height: 90px;
    padding-left: 20px;
}
.right-links{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    font-size: 18px;
    color: #F9FAF8;
}
a{
    text-decoration: none;
    color: #F9FAF8;
}
.main-image{
    height: 354px;
    width:500px;
    border-radius: 20px;
} 
.child-container{
    display: flex;
    padding-top: 70px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.heading{
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}
.text-child{
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #E5E7EB;
}
.text{
    max-width:400px;
    padding-right: 25px;
}
.button{
    padding:10px;
    padding-left: 25px;
    padding-right: 25px;
    margin-top:15px;
    font-size: medium;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color:#F9FAF8;
}
.container-2{
    /**/
    margin:none;
}
.heading-2{
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
}
.card-img{
    max-width: 208px;
    max-height: 208px;
    display:flex;
    /* padding-bottom: 20px; */
    border-radius: 20px;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    flex-wrap: wrap;
    
    border-radius: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 35px;
    max-width: 248px;
}
.img-caption{
    padding-top: 10px;
}
.container-3{
    /* display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;  */
    margin-top: 30px;
    /* padding: 20px; */
    font-style:italic;
    background-color: #D3D3D3;
    font-size: 36px;
    color: #1F2937;
    font-family: 'Montserrat', sans-serif;
    border-radius: 20px;
    text-align: center;

}
.quote{
    padding-top: 25px;

} 
.Dogesh{
    font-size: medium;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    /* padding-right: 25px; */
    color: #1F2937;
    font-weight:bolder;
    text-align: right;
    padding-right: 50px;
    padding-bottom: 20px; ;
}
.container-4{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background-color: #243551;
    padding: 25px;
    width: 900px;
    margin: 50px;
    border-radius: 10px;
}
.blueblue{ 
    display: flex;
    justify-content: center;
    align-items: center;
    /* this is done to center the blue box */
} 
.blue-container{
    max-width: 500px;
    color: #F9FAF8;
}
.button-2{
    background-color: #3882F6;
    /* padding:10px;
    padding-left: 25px;
    padding-right: 25px;  */
    font-size: medium;
    border-radius: 5px;
    color:#F9FAF8;
    height: 50px;
    width: 110px;
}